<div class="ui borderless bottom fixed menu main-footer">
	<p class="footer-sources">Site hosted on AWS. Theme by Semantic-UI. Icon font by Font Awesome. Written in Sublime Text 3. &copy; 2016 Agne Klimaite.</p>
  <a class="footer-icon foated right item"><i class="twitter large icon"></i></a>
  <a class="footer-icon item"><i class="github large icon"></i></a>
  <a class="footer-icon item"><i class="instagram large icon"></i></a>
</div>