<div class="ui borderless bottom fixed menu main-footer">
	<p class="footer-sources">Site hosted on AWS. Theme by Semantic-UI. Icon font by Font Awesome. Written in Sublime Text 3. &copy; 2016 Agne Klimaite.</p>
	<div class="footer-icons">
	  <a class="footer-icon" href="http://twitter.com/agnaite">
	  	<i class="twitter large icon"></i>
	  </a>
	  <a class="footer-icon" href="http://github.com/agnaite">
	  	<i class="github large icon"></i>
	  </a>
	  <a class="footer-icon" href="http://instagram.com/agnaite">
	  	<i class="instagram large icon"></i>
	  </a>
	</div>
</div>