<header>
	<div class="ui secondary menu">
	  <%= link_to 'Agne Klimaite', '/', class: 'ui item'%>
	  <div class="right menu">
	  	<%= nav_link 'About', '/about' %>
	  	<%= nav_link 'Portfolio', '/portfolio' %>
	  	<%= nav_link 'Contact', '/contact' %>
	  </div>
	</div>
</header>