<div class="about-content">
	<img class="ui right floated large circular image about-img" src="<%= asset_path( 'about.jpg') %>">

	<div class="about-text">
		<h1 class="ui header about-title">Hello. My name is Agnė Klimaitė.</h1>
		<p>I was born in Kaunas, Lithuania and lived in Berlin, Dubai, Raleigh, and Orlando before attending University of Florida in Gainesville, FL. I graduated with a Bachelor's in Marketing and worked as the manager and lead tech at the Authorized Apple Service Center on campus for three years. In 2015, I moved to San Francisco and I am currently pursuing my passion - building websites and developing my creativity.</p>
	</div>
</div>