<div class="contact-content">
	<div class="tagline">
		<h1 class="header centered ui contact-tagline">I am currently looking for interesting web development opportunities. <br/><span>To get in touch you can:</span></h1>
	</div>
	<ul class="contact-list">
		
		<li class="">
			<a href="mailto:agnesklimaite@gmail.com">
				<i class="fa fa-envelope-o"></i><span id="email">Email me</span>
			</a>
		</li>

	 	<li class="">
			<a href="http://twitter.com/agnaite">
				<i class="fa fa-twitter fa-lg"></i><span id="tweet">Tweet me</span>
			</a>
		</li>

		<li class="">
			<a href="http://github.com/agnaite">
				<i class="fa fa-github fa-lg"></i><span id="git">Follow me on GitHub</span>
			</a>
		</li>

		<li class="">
			<a href="http://instagram.com/agnaite">
				<i class="fa fa-instagram fa-lg"></i><span id="insta">Add me on Instagram</span>
			</a>
		</li>

	</ul>
</div>