<div class="contact-content">
	<h1 class="header centered ui contact-tagline">I am currently looking for interesting web development opportunities. <br/>To get in touch you can:</h1>
	
	<ul class="contact-list">
		
		<li class="item">
			<a href="mailto:agnesklimaite@gmail.com">
				<i class="mail large icon"></i><span id="email">Email me</span>
			</a>
		</li>

	 <li class="item">
			<a href="http://twitter.com/agnaite">
				<i class="twitter large icon"></i><span id="tweet">Tweet me</span>
			</a>
		</li>

		<li class="item">
			<a href="http://github.com/agnaite">
				<i class="github large icon"></i><span id="git">Follow me on GitHub</span>
			</a>
		</li>

		<li class="item">
			<a href="http://instagram.com/agnaite">
				<i class="instagram large icon"></i><span id="insta">Add me on Instagram</span>
			</a>
		</li>

	</ul>
</div>