<header>
	<div class="ui secondary menu">
	  <%= link_to 'Agne Klimaite', '/', class: 'ui item'%>
	  <div class="right menu">
		  <%= link_to 'About', '/about', class: 'ui item'%>
		  <%= link_to 'Portfolio', '/portfolio', class: 'ui item active'%>
		  </a>
	    <%= link_to 'Contact', '/contact', class: 'ui item'%>
	  </div>
	</div>
</header>