<div class="main-content">
	<img class="ui image main-img" src="<%= asset_path( 'welcome.jpg') %>">
	<div class="overlay-text">Hello. My name is <span class="overlay-name">Agnė Klimaitė</span><br/>and I am a frontend developer</br>based in San Francisco.</div>
</div>