/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require semantic
 *= require_tree .
 *= require_self
 */

 .main-footer {
	padding: 0 4px;

	.footer-sources {
		width: 33%;
		padding: 8px 0 0 12px;
		letter-spacing: 0.5px;
		font-size: 12px;
	}

	.footer-icons {
		display: inline;
		text-align: right;
		position: absolute;
		right: 4px;
		height: 100%;
		padding-top: 16px;
		
		.footer-icon {
			padding: 12px;
			height: 100%;

			i:hover {
				color: $text-light-grey;
			}	
		}
	}
}