// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$light-grey: #e8e8e8;
$text-grey: rgba(0,0,0,.6);

header {
	padding: 0 4px;
}

.main-content {
	width: 100%;

	.overlay-text {
		position: absolute;
    left: 0;
    top: 15%;
    width: 100%;
    text-align: right;
    font-size: 40px;
    padding-right: 40px;
    font-weight: 700;
    color: white;
    line-height: 1.5;

    .overlay-name {
    	background-color: $light-grey;
    	padding: 6px;
    	border-radius: 4px;
    	color: $text-grey;
    }
	}
}

.about-content {
	width: 100%;
	padding: 40px 80px;

	.about-img {
		margin-top: 100px;
	}

	.about-text {
		width: 100%;
		padding-top: 220px;
		padding-right: 540px;

		p {
			font-size: 20px;
			text-align: justify;
			line-height: 1.5;
		}
	}
}

.contact-content {
	padding-top: 220px;
	color: rgba(0,0,0,.87);

	.contact-list {
		margin:0 auto;
    width: 80%;
		padding-top: 60px;
		list-style: none;
		
		.item {
			display: inline;
			margin-bottom: 10px;
			padding-left: 40px;

			a {
				color: rgba(0,0,0,.87);
				font-size: 22px;
				padding: 6px 6px 8px 6px;
				font-weight: 600;

				&:hover {
					background-color: $light-grey;
					border-radius: 4px;
				}

				i {
					margin-right: 16px;
					margin-bottom: 4px;
				}
			}
		}	
	}
}

.main-footer {
	padding: 0 4px;

	.footer-sources {
		width: 33%;
		padding: 8px 0 0 12px;
		letter-spacing: 0.5px;
		font-size: 12px;
	}

	.footer-icon {
		i {
			padding-left: 6px;
		}
		&:hover {
			background-color: $light-grey !important;
		}
	}
}
